%div
  Result:
  %p
    Error Number
    = @result.errorNumber
  %p
    Balance Message
    = @result.balanceMessage
  %p
    Error Flag
    = @result.errorFlag
  %p
    MailingID
    = @result.mailingID
